:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #C19570;
    --secundario: #DBCBBE;
    --perl: #faf7f3;
    --terciario: #72bbb2;
    --obscuro: #4F6C8A;
    --naranja: #EB631B;
}

body{
    background-image: linear-gradient(to top, var(--terciario) -90%, var(--blanco) 100%);
}

.source-sans {
    font-family: "Source Sans 3", sans-serif;
}

.obscuro{
    color: var(--obscuro);
}

.secundario{
    color: var(--secundariova);
}

.terciario{
 color: var(--terciario);
}

.bg-color{
    background-color: var(--perl);
    border-radius: 1%;
}
